
   <div class="image-box">
       <% @stone_images.each do |stone_image| %>
       <div class="imgtxtbox">
            <%= link_to stone_image_path(stone_image.id) do %>
            <%= attachment_image_tag stone_image, :image, :fill, 300, 300, class: "imgbox" %>
            <% end %>

             <h3 class="txtbox">
               <%= link_to stone_image_path(stone_image.id) do %>
               <%= stone_image.shop_name %>
               <% end %>
             </h3>
            <p class="txtbox"><%= stone_image.caption %></p>
            <ul class="inline-meta">
               <li class="txtbox">投稿者
                <%= stone_image.user.name %>
               </li>
               <li class="txtbox">
                 <%= link_to "#{stone_image.stone_comments.count}コメント", stone_image_path(stone_image.id) %>
               </li>
            </ul>
         </div>

            <% end %>
</div>
   <br>


   <div class="paginate">
      <%= paginate @stone_images %>
</div>
