<div class="stone-image-box">

 	<%= attachment_image_tag @stone_image, :image, :fill, 500, 500, class: "post-image" %>

<div class="stone-index">
  <div class="title">
	<h2 class="post-title"><%= @stone_image.shop_name %></h2>
</div>
    <div class="caption">
    <p><%= @stone_image.caption %></p>
  </div>
	<ul>
	<li>
    <div class="image-box1">
	 投稿者<a href="#">
	 	<%= @stone_image.user.name %></a>
   </div>
	 </li>
	 <li>
    <div class="image-box1">
	 	<%= @stone_image.created_at.strftime('%Y/%m/%d') %>
   </div>
	 </li>
	 <% if @stone_image.favorited_by?(current_user) %>
	  <li>
    <div class="image-box1">
	 	<%= link_to stone_image_favorites_path(@stone_image),method: :deleate do %>
	 	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	 	<%= @stone_image.favorites.count %>いいね
   </div>
	 	<% end %>
	  </li>
	 	<% else %>
      <li>
        <%= link_to stone_image_favorites_path(@stone_image), method: :post do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= @stone_image.favorites.count %>いいね
        <% end %>
     </li>
    <% end %>
	 <li>
	 	<a href="#comments"><%= @stone_image.stone_comments.count %>コメント</a>
	 </li>
   <li>
    <% if @stone_image.user == current_user %>
    <%= link_to "消去", stone_image_path(@stone_image), method: :delete %>
    <% end %>
  </li>
	</ul>
</div>
</div>

<h2 class="comment-count"><%= @stone_image.stone_comments.count %>件コメント</h2>
  <% @stone_image.stone_comments.each do |stone_comment| %>
    <li class="comment">
          <%= attachment_image_tag stone_comment.user, :profile_image, :fill, 70, 70, fallback: "sample_image.jpg", size:'70x70'%>
            <a href="#" class="link-author"><%= stone_comment.user.name %></a>
            <span class="comment-meta"><br>
              <span class="comment-date"><%= stone_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
   <div class="comment-entry"><%= stone_comment.comment %></div>
          <% if stone_comment.user == current_user %>
   <%= link_to "削除", stone_image_stone_comment_path(stone_comment.stone_image,stone_comment), method: :delete %>
   <% end %>
    </li>
  </div>
   <% end %>


<%= form_for [@stone_image, @stone_comment] do |f| %>
 <div class="comment-box">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %><br>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>

<% end %>
</div>